<div class="page-header">

    <h1>BREST 2016</h1>
</div>

  	<h2>Ajouter une animation </h2>

  	<form ng-submit="addAnimation()" style="margin-top:30px;" enctype="multipart/form-data" method="post" action="/img_anim">


    	<div class="form-group">

          
          <div class="col-md-2"><label for="libelle">Libelle</label></div>
          <div class="col-md-10"><input type="text" id="libelle" class="form-control" placeholder="Libelle" ng-model="libelle" ng-required="true"></input></div>

          <div class="col-md-2"><label for="description">Description</label></div>
      		<div class="col-md-10"><textarea id="description" placeholder="Description" class="form-control" ng-model="description"></textarea></div>

          <div class="col-md-2"><label for="image">Illustration</label></div>
          <div class="col-md-10"><input type="file" name="image" class="form-control" onchange="angular.element(this).scope().setImageFile(this)" file-model = "myFile" ng-required="true"></div>

          
          <div class="col-md-2"><label for="place_max">Places max</label></div>
      		<div class="col-md-10"><input id="place_max" type="number" class="form-control" placeholder="Nombre de place max" ng-model="place_max" value="0" min="0" max="10"></input></div>

          
          <div class="col-md-2"><label for="date">Date</label></div>
          <div class="col-md-10"><input id="date" type="date" class="form-control" placeholder="Date de l'animation" ng-model="date"></input></div>


          <div class="col-md-2"><label for="heure_debut">Début</label></div>
      		<div class="col-md-10"><input id="heure_debut" type="time" datetime="hh:mm" class="form-control" placeholder="Heure de début" ng-model="heureDebut"></input></div>

          <div class="col-md-2"><label for="heure_fin">Fin</label></div>
      		<div class="col-md-10"><input id="heure_fin" type="time" datetime="hh:mm"class="form-control" placeholder="Heure de fin" ng-model="heureFin"></input></div>

    	</div>

      <h3>Ajout d'options</h3>

      
      <div class="col-md-12 ajout-options">
        <div ng-repeat="o in optionss">
          <input 
          type="checkbox" 
          id="{{o._id}}" 
          checklist-model="option_in_animation"
          checklist-value="o._id"
          ng-change="addCheckOption(o._id, checked)"
          > <label for="{{o._id}}">{{o.titre}}</label>
        </div>
      </div>

    	<button type="submit" class="btn btn-primary">Ajouter</button>
      <div ng-show="error" class="alert alert-danger">
       <strong>ERREUR</strong> - {{error}}
      </div>

  	</form>

  </form>