<div class="page-header">

    <h1>BREST 2016</h1>
</div>

  	<h2>Ajouter une animation </h2>

  	<form ng-submit="addAnimation()" style="margin-top:30px;">

    	<div class="form-group">
          <input type="text" class="form-control" placeholder="Libelle" ng-model="libelle" ng-required="true"></input>

      		<textarea placeholder="Description" class="form-control" ng-model="description"></textarea>

          <!-- Image de présentation : 
          <input type="file" class="form-control" onchange="angular.element(this).scope().setImageFile(this)" file-model = "myFile"> -->
          

      		<input type="number" class="form-control" placeholder="Nombre de place max" ng-model="place_max"></input>
      		<input type="text" class="form-control" placeholder="Heure de début" ng-model="heureDebut"></input>
      		<input type="text" class="form-control" placeholder="Heure de fin" ng-model="heureFin"></input>
    	</div>

      <h3>Ajout d'options</h3>
      <div class="col-md-12 ajout-options">
        <div ng-repeat="o in optionss">
          <input type="checkbox" ng-model="checkboxes.selected" ng-change="addCheckOption(o._id)" id="{{o._id}}" > <label for="{{o._id}}">{{o.titre}}</label>
        </div>
      </div>

    	<button type="submit" class="btn btn-primary">Ajouter</button>
  	</form>


{{checkboxes}}
  </form>