<div class="page-header">

    <h1>BREST 2016</h1>
</div>

  	<h2>Ajouter une option </h2>

<<<<<<< HEAD
  	
=======
  	<form ng-submit="addAnimation()" style="margin-top:30px;">

  		<div class="form-group">
  			<input type="text" class="form-control" placeholder="Titre" ng-model="titre">
  			<input type="text" class="form-control" placeholder="Description" ng-model="description">
  		</div>

  	</form>
>>>>>>> 10f50a471dc91ebedaa475b8cd9e246e991aaf82
