<div>
	<div ng-show="error" class="alert alert-danger">
	  <strong>ERREUR</strong> - {{error}}
	</div>

	<form ng-submit="checkCode()" style="margin-top:30px;">
    	<h3>Veuillez entrer le code (inscrit sur votre billet)</h3>

    	<div class="form-group">
      		<input type="text" class="form-control" placeholder="code" ng-required="true" ng-model="formData.code"></input>
    	</div>
      <div>Vous avez déjà un compte ? <a href="#/login">connectez vous </a>!</div>

    	<button type="submit" class="btn btn-primary">Accéder au site</button>
  	</form>

</div>