<div class="page-header">

    <h1>BREST 2016</h1>
</div>

  	<h2>Modifier une animation </h2>

  	<form ng-submit="updateAnimation(animation._id)" style="margin-top:30px;">

    	<div class="form-group">
          <div class="col-md-2"><label for="libelle">Libelle</label></div>
          <div class="col-md-10"><input type="text" class="form-control" placeholder="Libelle" ng-model="animation.libelle" ng-required="true"></input>
          </div>

          <div class="col-md-2"><label for="description">Description</label></div>
      		<div class="col-md-10"><textarea placeholder="Description" class="form-control" ng-model="animation.description"></textarea></div>

          <!-- Image de présentation : 
          <input type="file" class="form-control" onchange="angular.element(this).scope().setImageFile(this)" file-model = "myFile"> -->

          <div class="col-md-2"><label for="place_max">Places max</label></div>
      		<div class="col-md-10"><input type="number" class="form-control" placeholder="Nombre de place max" ng-model="animation.place_max"></input></div>

          <div class="col-md-2"><label for="place_max">Places dispo</label></div>
          <div class="col-md-10"><input type="number" class="form-control" placeholder="Nombre de place dispo" ng-model="animation.place_dispo" min="0" max="{{animation.place_max}}"></input></div>

          <div class="col-md-2"><label for="date">Date</label></div>
          <div class="col-md-10"><input id="date" type="date" placeholder="dd-MM-yyyy" class="form-control"  ng-model="animation.date"></input></div>

          <div class="col-md-2"><label for="heure_debut">Début</label></div>
      		<div class="col-md-10"><input type="time" ng-change="timeChanged()" class="form-control" placeholder="Heure de début" ng-model="animation.heure_debut"></input></div>

          <div class="col-md-2"><label for="heure_fin">Fin</label></div>
      		<div class="col-md-10"><input type="time" ng-change="timeChanged()" class="form-control" placeholder="Heure de fin" ng-model="animation.heure_fin"></input></div>

          
    	</div>

      <h3>Modification des options choisies</h3>
      <div class="col-md-12 ajout-options">
        <div ng-repeat="o in optionss">
          <input type="checkbox" ng-model="checkboxes" ng-change="addCheckOption(o._id)" id="{{o._id}}" > <label for="{{o._id}}">{{o.titre}}</label>
        </div>
      </div>

    	<button type="submit" class="btn btn-primary">Modifier</button>

      <div ng-show="success" class="alert alert-success">
        <strong>{{success}}</strong> - L'animation {{animation.libelle}} a bien été modifiée.
      </div>

  	</form>

  </form>