

<div class="page-header">
    <h1>BREST 2016</h1>
  </div>

  <h2>Liste des animations</h2>

  <button ng-click="refreshAnimations()">Refresh animations</button>


  <div ng-repeat="a in animations" class="row animation" >
    
      <div class="col-md-5 img_animation">
          <a href="#">
          </a>
      </div>
      <div class="col-md-7">
          <div class="col-md-6"><h3>{{a.libelle}}</h3></div>
          <div class="col-md-6"> </div>
          <div class="col-md-12"><h5>{{a.description}}</h5>  </div>   

          <div class="col-md-12">
            <span>Places disponibles : <b>{{a.place_dispo}}</b></span><br/>
            <span>Date : <b>{{a.date}}</b></span><br/>
            <span>Début : <b>{{a.heure_debut | date: "HH:mm" }}</b> - Fin : <b>{{a.heure_fin | date: "HH:mm"}}</b></span>
          </div>     
          <br/><br/>
          <div class="col-md-12 ajout-options">
            <h4>Options disponibles</h4>
            <div ng-repeat="o in a.liste_options">
              {{o.titre}}
            </div>
          </div>
          <br/><br/>
          <!-- ADMIN PART -->
          <div class="col-md-4" ng-show="isLoggedIn()">
            <a class="btn btn-primary" href="/#/animations/{{a._id}}" ng-disabled="a.place_dispo == 0">Réserver <span class="glyphicon glyphicon-ok"></span></a>
          </div>
          <div class="col-md-8" ng-show="isAdmin()">
            <a class="btn btn-warning" href="/#/animations/{{a._id}}/edit">Modifier <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="#" ng-click="deleteAnimation($index)">Supprimer <span class="glyphicon glyphicon-trash"></span></a>
          </div>
      </div>
  </div>






  <!-- <div ng-repeat="post in posts | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"></span>
      {{post.upvotes}}
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(post)"></span>
    <span style="font-size:20px;margin-left:10px">
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
	<span ng-show="post.author">
	  posted by <a>{{post.author}}</a> |
	</span>      
 </span>
    <span>
      <a href="#/posts/{{post._id}}">Comments</a>
        ({{post.comments.length}})
    </span>
  </div>

  <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">
    <h3>Add a new post:</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title"  ng-model="title">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Link" ng-model="link">
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
  </form> -->




<div ng-hide="isLoggedIn()">
  <h3>Vous devez être <a href="/#/login">enregistré</a> avant de pouvoir réserver une animation</h3>
</div>