<html>
<head>
  <title>BREST 2016</title>
  <!-- BOOTSTRAP -->
  <link href="stylesheets/bootstrap.css" rel="stylesheet"> 
  <link href="stylesheets/style.css" rel="stylesheet"> 

  <!-- Angular API -->
  <script src="lib/angular.js"></script>
  <script src="lib/angular-ui-router.js"></script>


  <!-- Angular app / controllers / routes / factories-->
  <script src="javascripts/angularApp.js"></script>

  <script src="javascripts/controllerAnimation.js"></script>
  <script src="javascripts/controllerOption.js"></script>
  <script src="javascripts/controllerReservation.js"></script>
  <script src="javascripts/controllerCode.js"></script>
  <script src="javascripts/controllerNav.js"></script>
  <script src="javascripts/controllerAuth.js"></script>
  
  <script src="javascripts/factAuth.js"></script>
  <script src="javascripts/factAnimations.js"></script>
  <script src="javascripts/factOption.js"></script>
  <script src="javascripts/factReservations.js"></script>



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>



<body ng-app="brest">

  <nav class="navbar navbar-default pull-right" ng-controller="controllerNav" ng-hide="currentPath() === '/code'">
    
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a href="/#/home">Accueil</a></li>

      <li ng-show="isAdmin()"><a href="/#/addAnimation">Ajouter une animation</a></li>
      <li ng-show="isAdmin()"><a href="/#/addOption">Ajouter une option</a></li>

      <li ng-show="isLoggedIn()"><a href="/#/mes_reservations">Mes reservations</a></li>
      <li ng-show="isLoggedIn()"><a class="nav_username">{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()" style="color:red">Log Out</a></li>
      <!-- <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li> -->

    </ul>
  </nav>

  
  
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ui-view></ui-view>
    </div>
  </div>

  

  <script type="text/ng-template" id="/home.html">
    <% include home %>
  </script>

  <script type="text/ng-template" id="/addAnimation.html">
    <% include addAnimation %>
  </script> 

  <script type="text/ng-template" id="/addOption.html">
    <% include addOption %>
  </script>

  <script type="text/ng-template" id="/editAnimation.html">
    <% include editAnimation %>
  </script>

  <script type="text/ng-template" id="/admin.html">
    <% include admin %>
  </script>

  <script type="text/ng-template" id="/code.html">
    <% include code %>
  </script>





  <script type="text/ng-template" id="/animation.html">
    <% include animation %> 
  </script>
  <script type="text/ng-template" id="/animations.html">
    <% include animations %> 
  </script>

  <script type="text/ng-template" id="/reservation.html">
    <% include reservation %> 
  </script>
  <script type="text/ng-template" id="/mes_reservations.html">
    <% include mes_reservations %> 
  </script>




  
  <script type="text/ng-template" id="/register.html">
	  <% include register %>
	</script>
	<script type="text/ng-template" id="/login.html">
    <% include login %>
  </script>					  

  </body>
</html>