

<div class="page-header">
    <h1>BREST 2016</h1>
  </div>

  <h2>Liste des réservations</h2>

 

<div class="row row_reservation" ng-repeat="r in reservations">
    <div class="col-md-4">Libelle : {{r.libelle_animation}}</div>
    <div class="col-md-4">Nombres de places : {{r.nbPlaceReserve}}</div>
    <div class="col-md-4"><button class="btn btn-danger" ng-click="deleteReservation($index)">Annuler</button></div>

    <div class="col-md-12 options" ng-repeat="o in r.optionss">
      {{o.titre}}
    </div>
</div>



<div ng-hide="isLoggedIn()">
  <h3>Vous devez être <a href="/#/login">enregistré</a> ou <a href="/#/register">inscrit</a> avant de pouvoir réserver une animation</h3>
</div>