

a {
  color: #00B7FF;
}

h2{
	    background: cornflowerblue;
    color: white;
    padding: 5px;
}

.navbar{
	    position: fixed;
    right: 0;
    z-index: 9999;
}

.nav_username{
        background: #8C8383 !important;
    color: white !important;
}

input, textarea{
	margin-bottom: 15px;
}

.ajout-options{
 background-color: rgba(0, 188, 212, 0.2);
}

.animation{
    margin: 5px 0px 5px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
}
.img_animation{
    background-image: url(../img/img_animation.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}