

a {
  color: #00B7FF;
}

h2{
	    background: cornflowerblue;
    color: white;
    padding: 5px;
}

.navbar{
	    position: fixed;
    right: 0;
    z-index: 9999;
}

.nav_username{
        background: #8C8383 !important;
    color: white !important;
}

.navbar-default{
        background-color: rgba(248, 248, 248, 0.9);
}

.banner{
    padding: 0;
    background: black;
    height: 250px;
    background-image: url(../img/banner-hermione.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

input, textarea{
	margin-bottom: 15px;
}

.option_row{
    margin-bottom: 15px;
}

.btn-suppr{
    color: red;
    float: right;
    border: 1px solid red;
    padding: 3px;
    border-radius: 7px;
}

.ajout-options{
 background-color: rgba(0, 188, 212, 0.2);
 margin-bottom: 15px;
 margin-top:15px;
}

.animation{
    margin: 5px 0px 5px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
}
.alert{
    margin-top: 15px;
}
.img_animation{
    background-image: url(../img/img_animation.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.row_reservation{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.row_reservation .options{
    border: 1px solid grey;
}